%li{:id => ("latest" if drawing.id == @latest_id)}
    .drawing-container{ id: ( "single-drawing" if (controller.action_name != "index") ) }
        -if drawing.id == @latest_id
            %p= "Latest drawing"
        .drawing-image
            -if drawing.attachment.present?
                -if controller.action_name == "index"
                    = link_to drawing, :class => "pull-left" do
                        = image_tag drawing.attachment_url(:thumb), :class => "drawing-image"
                -elsif controller.action_name == "show"
                    %img{:src => drawing.attachment_url}
        .drawing-info
            %p= drawing.title
            -if drawing.program.present?
                %p.program Created in: #{drawing.program}
        - if current_user && (drawing.user_id == current_user.id)
            .drawing-actions
                = link_to edit_drawing_path(drawing), { title: t('shared.edit') } do
                    %button.btn.btn-default
                        = fa_icon "pencil"
                = link_to edit_drawing_path(drawing), { title: t('shared.delete') } do
                    %button.btn.btn-default
                        = fa_icon "trash"
    .nav-prev
        -if defined? nav
            -unless nav[:prev].nil?
                = link_to drawing_path(nav[:prev]), { title: t('shared.prev') } do
                    %button.btn.btn-default
                        = fa_icon "backward"
            -else 
                %button.btn.btn-default
                    = fa_icon "times"
    .nav-next
        -if defined? nav
            -unless nav[:next].nil?
                = link_to drawing_path(nav[:next]), { title: t('shared.next') } do
                    %button.btn.btn-default
                        = fa_icon "forward"
            -else 
                %button.btn.btn-default
                    = fa_icon "times"