%table.table.table-condensed.display.responsive.no-wrap#users_datatable
    %thead
        %tr
            %th= t('user.columns.name')
            %th= t('user.columns.email')
            %th= t('user.columns.approved')
            %th= "Action"
    %tbody
        = render @users
