<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
